.video{
  position: absolute;
  opacity: 100%;
  right: 0;
  bottom:-50;
  z-index:-10;
  min-width: 100%;

}

.parallax {
  /* The image used */
  background-image: url("sunset.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bot{
  z-index:4;
  background-color:white;
}

.id{
  position: absoulte;
  z-index:10;
}
