<!DOCTYPE html>
<html lang="en">

<!-- HEADER -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MG</title>
    <link rel="shortcut icon" href="assets/pictures/wolf.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/style/style.css">
  </head>

  <body>
      <main>
        <h2>Websites I've made</h2>
        <ul>
          <li/><a href="IcarusSolar/index.html">Icarus Solar - Part of my senior design project</a>
          <!--<li/><a href="/launchpad">launchpad</a>-->
          <li/><a href="/secu">secure ecu</a>

          <!--<li/><a href="/" onclick="javascript:event.target.port=3000">Crypto company</a>
          <li/><a href="/" onclick="javascript:event.target.port=3001">Startup</a>-->
        </ul>
      </main>
  </body>
